@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    @apply rounded-lg bg-[#1e1e1e] py-1 px-2;
}

pre code {
    @apply p-0;
}

ul {
    @apply list-disc;
}
